

<div id="charts" style="width:100%; height:400px">

     @* First graph *@ 
    <canvas id="lineChart"></canvas>
     @* Second graph *@ 
    <canvas id="line2"></canvas>

    @* Third graph *@ 
    <canvas id="bar"></canvas>


</div>

<script>


    var numbers = @Html.Raw(@Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(ViewBag.numbers) as String));
    var dates = @Html.Raw(@Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(ViewBag.dates) as String));

    var numbers2 = @Html.Raw(@Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(ViewBag.numbers2) as String));
    var cumulative = @Html.Raw(@Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(ViewBag.cumulative) as String));

    @* First graph *@
    var ctx = 'lineChart';

    var lineChart = new Chart(ctx,
        {
            type: 'pie',
            data: {
                labels: dates,
                datasets: [{
                    label: "Deposite",
                    data: numbers,
                    backgroundColor: ["rgba(54, 162, 235, 0.2)", "rgba(54, 162, 235, 0.3)", "rgba(54, 162, 235, 0.4)","rgba(54, 162, 235, 0.6)"],
                    //backgroundColor: color(window.chartColors.red),
                    borderColor: ["rgba(54, 162, 235, 0.2)", "rgba(54, 162, 235, 0.3)", "rgba(54, 162, 235, 0.4)", "rgba(54, 162, 235, 0.6)"],
                    borderWidth: 1
                }]
            },
            options: {
                maintainAspectRatio: false ,
                        title: {
                    display: true,
                    text: 'Deposite'
                }
            },
        });

    @* Second graph *@
    var ctx2 = 'line2';

    var lineChart = new Chart(ctx2,
        {
            type: 'line',
            data: {
                labels: dates,
                datasets: [{
                    label: "cumulative",
                    data: cumulative,
                    borderWidth: 1
                }]
            },
            options: {
                maintainAspectRatio: false,
                title: {
                    display: true,
                    text: 'cumulative'
                }
               
            },
        });

    @* Third graph *@

        var ctx3 = 'bar';

    var lineChart = new Chart(ctx3,
        {
            type: 'bar',
            data: {
                labels: dates,
                datasets: [{
                    label: "Withdraw",
                    data: numbers2,
                    backgroundColor: ["rgba(255, 206, 86, 0.2)", "rgba(255, 206, 86, 0.2)", "rgba(255, 206, 86, 0.2)","rgba(255, 206, 86, 0.2)"],
                    //backgroundColor: color(window.chartColors.red),
                    borderColor: ["rgb(255, 206, 86, 0.2"],
                    borderWidth: 1
                }]
            },
            options: {
                maintainAspectRatio: false,
                title: {
                    display: true,
                    text: 'Withdraw'
                }
            },
        });






</script>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
