@model Customer
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Customer Home</h1>
</div>

<div class="container">
    <h3>Your Accounts</h3>
    <table class="table">
        <tr>
            <th>@Html.DisplayNameFor(x => x.Accounts[0].AccountNumber)</th>
            <th>@Html.DisplayNameFor(x => x.Accounts[0].AccountType)</th>
            <th>@Html.DisplayNameFor(x => x.Accounts[0].Balance)</th>
            <th></th>
        </tr>
        @foreach (var account in Model.Accounts)
        {
            <tr>
                <td>@Html.DisplayFor(x => account.AccountNumber)</td>
                <td>@Html.DisplayFor(x => account.AccountType)</td>
                <td>@Html.DisplayFor(x => account.Balance)</td>
            </tr>
        }
    </table>
</div>

<div class="container">
    <ul>

    </ul>
</div>
